body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

header ul li {
  display: inline;
}

header ul li a {
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}
